@model Dll_BS_Fat.Veiculos

    @using (Html.BeginForm("Adiciona", "Veiculos")) 
    {

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Adicionar Veiculo:</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Montadora, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Montadora, new { htmlAttributes = new { @class = "form-control" , Name = "veiculo.Montadora"} })
                    @Html.ValidationMessageFor(model => model.Montadora,"", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Modelo, new { htmlAttributes = new { @class = "form-control", Name = "veiculo.Modelo" } })
                    @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnoModelo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AnoModelo, new { htmlAttributes = new { @class = "form-control", Name = "veiculo.AnoModelo"} })
                    @Html.ValidationMessageFor(model => model.AnoModelo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Portas, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Portas, new { htmlAttributes = new { @class = "form-control", Name = "veiculo.Portas"} })
                    @Html.ValidationMessageFor(model => model.Portas, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Placa, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Placa, new { htmlAttributes = new { @class = "form-control", Name = "veiculo.Placa"} })
                    @Html.ValidationMessageFor(model => model.Placa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Renavam, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Renavam, new { htmlAttributes = new { @class = "form-control", Name = "veiculo.Renavam" } })
                    @Html.ValidationMessageFor(model => model.Renavam, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Chassi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Chassi, new { htmlAttributes = new { @class = "form-control" , Name = "veiculo.Chassi"} })
                    @Html.ValidationMessageFor(model => model.Chassi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Lugares, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Lugares, new { htmlAttributes = new { @class = "form-control" , Name = "veiculo.Lugares"} })
                    @Html.ValidationMessageFor(model => model.Lugares, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Quilometragem, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Quilometragem, new { htmlAttributes = new { @class = "form-control" , Name = "veiculo.Quilometragem"} })
                    @Html.ValidationMessageFor(model => model.Quilometragem, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" , Name = "veiculo.Status"} })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Combustivel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Combustivel, new { htmlAttributes = new { @class = "form-control" , Name = "veiculo.Combustivel"} })
                    @Html.ValidationMessageFor(model => model.Combustivel, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ValorAtual, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ValorAtual, new { htmlAttributes = new { @class = "form-control" , Name = "veiculo.ValorAtual"} })
                    @Html.ValidationMessageFor(model => model.ValorAtual, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ValorDiaria, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ValorDiaria, new { htmlAttributes = new { @class = "form-control" , Name = "veiculo.ValorDiaria"} })
                    @Html.ValidationMessageFor(model => model.ValorDiaria, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Observacoes, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Observacoes, new { htmlAttributes = new { @class = "form-control" , Name = "veiculo.Observacoes"} })
                    @Html.ValidationMessageFor(model => model.Observacoes, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DataAquisicao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DataAquisicao, new { htmlAttributes = new { @class = "form-control" , Name = "veiculo.DataAquisicao"} })
                    @Html.ValidationMessageFor(model => model.DataAquisicao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ArCondicionado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.ArCondicionado, new {htmlAttributes = new { Name = "veiculo.ArCondicionado" } })
                        @Html.ValidationMessageFor(model => model.ArCondicionado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DirecaoHidraulica, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.DirecaoHidraulica, new {htmlAttributes = new { Name = "veiculo.DirecaoHidraulica" } })
                        @Html.ValidationMessageFor(model => model.DirecaoHidraulica, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VidroEletrico, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.VidroEletrico, new {htmlAttributes = new { Name = "veiculo.VidroEletrico" } })
                        @Html.ValidationMessageFor(model => model.VidroEletrico, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AirBag, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.AirBag, new {htmlAttributes = new { Name = "veiculo.AirBag" } })
                        @Html.ValidationMessageFor(model => model.AirBag, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Abs, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Abs, new {htmlAttributes = new { Name = "veiculo.Abs" } })
                        @Html.ValidationMessageFor(model => model.Abs, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsAtivo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsAtivo, new {htmlAttributes = new { Name = "veiculo.IsAtivo" } })
                        @Html.ValidationMessageFor(model => model.IsAtivo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
<div>
    @Html.ActionLink("Voltar à lista", "Index")
</div>
