@model BsFat.Sinistros

@{
    ViewBag.Title = "Deletar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar</h2>

<h3>Deseja deletar o sinistro abaixo?</h3>
<div>
    <h4>Sinistros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Km)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Km)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

       

    </dl>

    @using (Html.BeginForm("Deletar", "Sinistros")) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Deletar" class="btn btn-default" /> <br />
    <button name="Voltar" onclick="javascript:history.back(-1);" runat="server" class="btn">Voltar</button>
</div>
    }
</div>
