@model BsFat.Multas

@{
    ViewBag.Title = "Deletar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar</h2>

<h3>Está certo que quer deletar?</h3>
<div>
    <h4>Multa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataMulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataMulta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vencimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vencimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pontos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pontos)
        </dd>

       </dl>

    @using (Html.BeginForm("Deletar", "Multas")) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Deletar" class="btn btn-default" /> |
    <button name="Voltar" onclick="javascript:history.back(-1);" runat="server" class="btn-default">Voltar</button>
</div>
    }
</div>
