@model Dll_BS_Fat.ClientesPJ
    <div>
        <h4>ClientesPJ</h4>
        <hr />
        <dl class="dl-horizontal">
   
            <dt>
                @Html.DisplayNameFor(model => model.RazaoSocial):
            </dt>
    
            <dd>
                @Model.RazaoSocial
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Contato): 
            </dt>
    
            <dd>
                @Model.Contato
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email):
            </dt>
    
            <dd>
                @Model.Email
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cnpj):
            </dt>
    
            <dd>
                @Model.Cnpj
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ie):
            </dt>
    
            <dd>
                @Model.Ie
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EnderecoId):
            </dt>
    
            <dd>
                @Model.EnderecoId
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TelComercial):
            </dt>
    
            <dd>
                @Model.TelComercial
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Voltar à Lista", "Index")
    </p>
