@model BsFat.Pneus

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Pneus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KmInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KmInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KmAtual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KmAtual)
        </dd>

         <dt>
            @Html.DisplayNameFor(model => model.DataAdicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataAdicao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Deletar", "Deletar", new { id = Model.Id}) |
    @Html.ActionLink("Editar", "Editar", new { id = Model.Id }) <br />
    <button name="Voltar" onclick="javascript:history.back(-1);" runat="server">Voltar</button>
</p>
