@model Dll_BS_Fat.Estoque

@{
    ViewBag.Title = "Deletar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar</h2>

<h3>Deseja deletar o item?</h3>
<div>
    <h4>Estoque</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Peca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataAdicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataAdicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSaida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSaida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacoes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncluidoPor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncluidoPor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RetiradoPor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetiradoPor)
        </dd>

    </dl>

    @using (Html.BeginForm("Deletar", "Estoque")) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à Lista", "Index")
        </div>
    }
</div>
